@charset "UTF-8";

/* Configuração para telas de 768px de largura a 992px de largura */
@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Configuração do corpo */
    body{
        /* Cor de fundo no estilo gradiente */
        background-image: linear-Gradient(to top, #1D252D, #BB4628);
    }
    /* Configuração da seção login */
    section#login{
        width: 80vw; /*Largura da Viewport*/
        height: 300px;
    }
    /*Configuração da imagem*/
    section#login > div#imagem{
        float: left;/*Deslocando o elemento para esquerda*/
        width: 30%;/*Largura*/
        height: 100%;/*Altura*/
    }
    /* Configuração do formulario */
    section#login > div#formulario{
        float: right;/*Deslocando o elemento para direita*/
        width: 70%;/*Largura*/
    }

}
/* Configuração para telas grandes */
@media screen and (min-width: 992px) {
    /* Configuração do corpo */
    body{
        /* Cor de fundo no estilo gradiente */
        background-image: linear-Gradient(to top, #1D252D, #BB4628);
    }
    /* Configuração da seção login */
    section#login{
        width: 950px;/*Largura*/
        height: 400px;/*Altura*/
    }
    /*Configuraçõa para seção imagem*/
    section#login > div#imagem {
        float: right;/*Deslocando o elemento para esquerda*/
        width: 50%;/*Largura*/
        height: 100%;/*Altura*/
    }
    /* Configuração do formulario */
    section#login > div#formulario{
        float: left;/*Deslocando o elemento para direita*/
        width: 50%;/*Largura*/
    }
    /* Configuração do titulo */
    div#formulario > h1 {
        font-size: 2em;/*Tamanho da fonte*/
    }
    /* Configurando o paragrafo */
    div#formulario > p{
        font-size: 1.1em;/*Tamanho da fonte*/
    }
}
